/* Radio.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.radio {
  padding-bottom: 20px;
}

.radio-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.radio-station {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 400px;
  background-color: #f9f9f9;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input[type='range'] {
  width: 100px;
  margin-left: 10px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 20px;
}

.search-input {
  flex-grow: 1;
  margin-right: 10px;
}

.search-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Optional: Style the placeholder text */
.search-input input::placeholder {
  color: #999;
}

/* Menu.css */

/* Style the navigation container */
nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

/* Style the navigation links */
nav a {
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

/* Apply styles on hover */
nav a:hover {
  color: #f39c12;
}

.active {
  color: #f39c12;
}

/* Footer.css */

/* Style the footer container */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Apply styles to the footer text */
footer p {
  font-size: 14px;
  margin: 0;
}

/* Apply additional styles to make it stand out */
footer p {
  opacity: 0.7;
  padding: 5px;
}

/* Hover effect */
footer p:hover {
  opacity: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
