.song-player {
  width: 50%;
  height: 90vh;
  margin-top: -20px;
}

.song-player-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-lists {
  display: flex;
  flex-direction: column;
}
.play-lists button {
  background-color: #333333;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 50px;
}

.play-lists button:hover {
  color: #f39c12;
}

img {
  border-radius: 15%;
  width: 100%;
}
